*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

.logo{
  width: 100px;
  height: 100px;
}

.galery > img {
  width:200px ;
  height:200px ;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav{
  font-size: 1.5rem;
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.navItem{
  text-decoration: none;
  color: #fff;
}

.navItem:hover{
  background-color: green;
}



.hero{
  background-image: url("../img/programming.png");
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
}

.btnContact{
  width: 200px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.services{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.services > h2 {
  text-align: center;
  font-size: 2rem;

}

.containerCards{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  height: 180px;
  padding: 0.6rem;
  justify-content: space-between;
}

.card > i {
  font-size: 1.5rem;
}

.card > h3 {
  font-size: 1.5rem;
}

.card > button {
  width: 60%;
  padding: 0.8rem;
}

.containerJobs{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.containerJobs > h2 {
  text-align: center;
  font-size: 2rem;
}

.containerJobs > div {

  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 1rem;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

footer  div > a > i {
  font-size: 2rem;
}

footer  div > a {
  color: #fff;
  text-decoration: none;
}

.background{
  background-color: rgba(0, 126, 128, 0.263);
}